.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 40px;
  .switch-mode {
    margin: 0 20px;
  }
}
.icon-enter-active {
  transform: rotate(360deg);
  transition: all 0.3s linear;
}
