@import "@/assets/css/init.css";
.App{
  --prBgColor:#fff;
  --seBgColor:rgb(245,245,245);
  --prTextColor:rgba(0, 0, 0, 0.87);
  --tsTime:0.3s;
  --menuHoverColor:#ececee;
  --menuActiveColor:#e3e3e5;

  transition: all 0.3s linear;
}
.App.dark{
  --prBgColor:#121212;
  --seBgColor:#242424;
  --prTextColor:#fff;

}
.App{
  background-color: var(--prBgColor);
  color: var(--prTextColor);
}

